#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #08c8a5);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #08c8a5);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .cards {
    position: relative;
  }
  
  .cards__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
  }
  
  .card {
    --flow-space: 0.5em;
    --hsl: var(--hue), var(--saturation), var(--lightness);
    flex: 1 1 14rem;
    padding: 1.5em 2em;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: center; /* Updated to center vertically */
    justify-content: center; /* Center contents horizontally */
    gap: 1.25em;
    color: #eceff1;
    background-color: white; /* Set default background color to white */
    border: 1px solid #eceff133;
    border-radius: 15px;
  }
  
  
  :not(.overlay) > .card:hover {
    background-color: #0b9b81; /* Change to green on hover */
  }
  